.jumbotron {
    background-color: yellowgreen;
    color: black;
    border-style: ridge;
    border-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    margin-top: 50px;
}



.fondo {
    background-color: darkturquoise;
}

.card-div {
    flex: 1 150px;
    
    margin-top: 10px;
    border-style: solid;
    border-color: darkturquoise;
    background-color: antiquewhite;
}

.estilo-footer {
    padding: 10px 10px 0 10 px;
    background-color: black;
    color: white;
}

.bordes {
    border-color: azure;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: green;
    color: white;
}

.btn-reserva-visto{
    width: 100%;
    border-radius: 0px;
    background-color: blue;
    color: white;
}

.btn-enviar{
    width: 30%;
    border-radius: 0px;
    background-color: blue;
    color: white;
}

.btn-
.footer-address-icon{
    padding-right: 10px;
    
}

.tab-content{
    padding-top: 10px;
}




label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}