.jumbotron {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 50px;
  margin-bottom: 0px;
  border-style: ridge;
  border-color: blueviolet;
  background-color: yellowgreen;
  color: black;
  align-content: center; }

.fondo {
  background-color: darkturquoise; }

.card-div {
  flex: 1 150px;
  background-color: -antiquewhite;
  margin-top: 10px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: darkturquoise; }

.estilo-footer {
  padding: 10px 10px 0 10 px;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px; }

.bordes {
  border-color: azure; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: green;
  color: white; }

.btn-reserva-visto {
  width: 100%;
  border-radius: 0px;
  background-color: green;
  color: white; }

.btn-enviar {
  width: 30%;
  border-radius: 0px;
  background-color: green;
  color: white; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif; }

input,
label {
  margin: .4rem 0; }
