$amarillo: yellowgreen;
$negro : black; 
$blanco : white; 
$morado : blueviolet;
$color-fondo: darkturquoise; 
$color-fichas: antiquewhite;
$color-bordes: azure; 
$verde: green; 
$azul : blue; 
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin bordes($style, $color){
    border-style: $style;
    border-color:$color;
}

@mixin estilo-gen($background-color, $color-texto, $aling-content){
    background-color: $background-color;
    color : $color-texto;
    align-content: $aling-content;
}
.jumbotron {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @include margenes(50px, 0px); 
    @include bordes(ridge, $morado);
    @include estilo-gen($amarillo, $negro ,center);
}
.fondo {

    @include estilo-gen($color-fondo,null ,null);
}
.card-div {
    flex: 1 150px;
    @include estilo-gen(-$color-fichas,null , null);
    @include margenes(10px, 0px);
    @include bordes(solid, $color-fondo);
}
.estilo-footer {
    padding: 10px 10px 0 10 px;
    @include estilo-gen($negro, $blanco, null);
    @include margenes(10px, 0px );
}

.bordes {
    border-color: $color-bordes;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    @include estilo-gen($verde, $blanco, null);
}

.btn-reserva-visto{
    width: 100%;
    border-radius: 0px;
    @include estilo-gen($verde, $blanco, null); 
}

.btn-enviar{
    width: 30%;
    border-radius: 0px;
    @include estilo-gen($verde, $blanco, null);
}


.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}




label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}