@amarillo: yellowgreen;
@negro : black; 
@blanco : white; 
@morado : blueviolet;
@color-fondo: darkturquoise; 
@color-fichas: antiquewhite;
@color-bordes: azure; 
@verde: green; 
@azul : blue; 

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.bordes(@style: null, @color: null){
    border-style: @style;
    border-color:@color;
}

.estilo-gen(@background-color: null, @color-texto: null, @aling-content: null){
    background-color: @background-color;
    color : @color-texto;
    align-content: @aling-content;
}
.jumbotron {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .margenes(50px, 0px); 
    .bordes(ridge, @morado);
    .estilo-gen(@amarillo, @negro ,center);
}
.fondo {

    .estilo-gen(@color-fondo,null ,null);
}
.card-div {
    flex: 1 150px;
    .estilo-gen(@color-fichas,null , null);
    .margenes(10px, 0px);
    .bordes(solid, @color-fondo);
}
.estilo-footer {
    padding: 10px 10px 0 10 px;
    .estilo-gen(@negro, @blanco, null);
    .margenes(10px, 0px );
}

.bordes {
    border-color: @color-bordes;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    .estilo-gen(@verde, @blanco, null);
}

.btn-reserva-visto{
    width: 100%;
    border-radius: 0px;
    .estilo-gen(@verde, @blanco, null); 
}

.btn-enviar{
    width: 30%;
    border-radius: 0px;
    .estilo-gen(@verde, @blanco, null);
}


.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}




label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}